@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --primary-red-color: rgb(255, 0, 0);
    --primary-white-color: rgb(255, 255, 255);
    --shade-white-color: rgba(255, 255, 255, 0.8);
    --primary-black-color: rgb(7, 2, 17);
    --shade-black-color: rgba(7, 2, 17, 0.6);
}
.title{
    font-family: "Merriweather", serif;
    font-size: 39px;
    font-weight: 900;
}
.description{
    color: var(--shade-black-color);
}








/* body container style */
.body_container{
    max-width: 1056px;
    margin: 40px auto;
}

/* header section */
.banner{
    height: 480px;
    color: var(--primary-white-color);
    border-radius: 13px;
    background-image: url("../images/Banner_Image.png"),  linear-gradient(to bottom, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner .banner_subtitle{
    font-size: 26px;
    margin-bottom: 13px;
}
.banner .title{
    font-size: 58px;
}








/* 65% off section */
.category{
    text-align: center;
    max-width: 643px;
    height: 645px;
    margin: 96px 208px;
}
.category .category_offer{
    font-size: 71px;
    color: var(--primary-red-color);
    margin-bottom: 39px;
}
.category .category_subtitle{
    font-size: 20px;
    font-weight: 500px;
    color: var(--primary-red-color);
    margin-bottom: 13px;
}
.category .title{
    font-family: "Inter", sans-serif;
}
.category img{
    margin-top: 39px;
    width: 100%;
}









/* party section */
.party{
    height: 480px;
    border-radius: 13px;
    color: var(--primary-white-color);
    background-image: url("../images/Vectorrr.png"), linear-gradient(to right, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 100px;
}
.party .party_container .title{
    font-size: 52px;
}
.party .party_container .description{
    font-size: 15px;
    color: var(--shade-white-color);
    padding: 20px 0 39px;
}
.party .party_container a{
    text-decoration: none;
    color: var(--primary-white-color);
    font-weight: 700;
    margin-left: 26px;
}
.party img{
    width: 372px;
    height: 380px;
    border: 1px dashed var(--shade-white-color);
}