@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --primary-red-color: rgb(255, 0, 0);
    --primary-white-color: rgb(255, 255, 255);
    --shade-white-color: rgba(255, 255, 255, 0.8);
    --primary-black-color: rgb(7, 2, 17);
    --shade-black-color: rgba(7, 2, 17, 0.6);
}
.title{
    font-family: "Merriweather", serif;
    font-size: 39px;
    font-weight: 900;
}
.description{
    color: var(--shade-black-color);
}








/* body container style */
.body_container{
    max-width: 1056px;
    margin: 40px auto;
}

/* header section */
.banner{
    height: 480px;
    color: var(--primary-white-color);
    border-radius: 13px;
    background-image: url("../images/Banner Image.png"),  linear-gradient(to bottom, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner .banner_subtitle{
    font-size: 26px;
    margin-bottom: 13px;
}
.banner .title{
    font-size: 58px;
}








/* 65% off section */